input {
    width: 30px;
}

.profile_btn {
    margin-left: 5px;
    margin-bottom: 3px;
    width: 23px;
}

html {
    background-image: url('https://www.ravensoftware.com/content/dam/atvi/Raven/raven-2020/news/2021/06/4-0/PZ_S04_WARZONE_KA_16x9_051921.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wz_card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    margin-top: 250px;
    margin-left: 50px;
}

.wz_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.wz_container {
    padding: 2px 16px;
}

.wz_card_submit {
    width: 60px;
    margin-top: 5px;
}

img {
    border-radius: 5px 5px 5px 5px;
}

.apex_card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    margin-bottom: 400px;
    bottom: 253px;
    left: 375px;
}

.apex_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.apex_container {
    position: absolute;
    padding: 2px 16px;
}

